{% extends "layout.html" %}

{% block content %}          

    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h3></h3>
            <!-- novalidate tells html to not validate. validation will be done on code -->
            <form name="login" action="" method="post" novalidate>
                <fieldset class="form-group">     
                    <legend>{{ title }}</legend>
                    <!-- create form that is passed from the routes.py file -->
                    {{ form.hidden_tag() }} <!-- for security (CSFR Token) -->
                    <p>
                        {{ form.email.label }} <br>
                        {{ form.email(size=35) }}
                        {% for error in form.email.errors %}
                            <br>
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.password.label }} <br>
                        {{ form.password(size=15) }}
                        {% for error in form.password.errors %}
                            <br>
                            <span class="error-message">{{ error }}</span>
                        {% endfor %}
                    </p>
                    <p>
                        {{ form.submit() }}
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}